.admin-page {
  h2 {
    margin: 40px 0;
    text-align: center;
  }

  .adming-p-container {
    .guest-list,
    .menu {
      width: 340px;
      padding: 0 5px;
      margin: 20px;
    }

    .div-con  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
      div {
        width: 100%;
        max-width: 300px;
        margin: 20px 20px 20px 100px;

        @media (max-width: 920px) {
          margin: 20px 80px;
        }
        
        @media (max-width: 500px) {
          margin: 20px;
        }
      }
    }

    .guests {
      max-width: 540px;
      margin: 20px calc(50% - 260px);
      padding: 0 20px;

      @media (max-width: 680px) {
        max-width: 450px;
        margin: 20px 80px;
      }

      @media (max-width: 580px) {
        max-width: 350px;
      }

      @media (max-width: 500px) {
        margin: 20px auto;
      }
    }
  }
}