.delete {
  -webkit-touch-callout: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.delete {
	width: 90px;
	height: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e62222;
	transition: 200ms;

  span {
    transition: 200ms;
  }

  .text {
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: auto;
  }

  .icon {
    width: 0;
    height: 20px;
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(90px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 15px;
    fill: white;
  }

    
  &:hover {
    background: #ff3636;
    
    .text {
      color: transparent;
    }

    .icon {
      width: 90px;
      border-left: none;
      transform: translateX(0);
    }
  }

  &:focus {
    outline: none;
  }
}