$header-c: rgb(255, 255, 255);
//$bacgroundColor: rgb(19, 128, 115);
$bacgroundColor: rgb(225, 225, 214);
$textColor: rgb(90, 90, 90);
$textColor2: rgb(80, 80, 80);
//38908f
//ecbe7a
//e6b655

$header-h: 80px;