.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  h2 {
    text-align: center;
    margin: 40px 0;
  }

  .menu-selection {

  }

  .plus-one {

  }

  .good-wish-container {

  }
}