@use 'reset';
@use 'variables' as *;

body {
  background-color: $bacgroundColor;

  h1 {
    color: $textColor;
    font-weight: 800;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    //600
  }
/*
  p,
  a,
  .link-button {
    font-family: 'Josefin Sans', sans-serif;
    //100
    //200
    //300
    //400
    //500
    //600
    font-weight: 400;
    font-size: 16px;
  }
*/

  a,
  .link-button {
    color: $textColor;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
      
    &:link,
    &:visited,
    &:active {
      color: $textColor;
    }

    &:hover {
      color: $textColor;
    }
  }
}

.left-side,
.right-side {
  width: $header-h;
  height: 100%;
  background-color: $header-c;
  position: absolute;
  z-index: -1;
}

.header {
  width: 100%;
  height: $header-h;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: $header-c;

  #login {
    position: fixed;
    right: 5%;
  }
}

.right-side {
  right: 0;
}