@use 'reset';
@use 'variables' as *;
//@use '_deleteButton';

body {
  background-color: $bacgroundColor;

  /*
  h1 {
    color: $textColor;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
  }

  p,
  label {
    color: $textColor;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }*/
}

.app {
  .header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    background-color: white;
    border-bottom: 1px solid black;
  }
}