*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.admin-accommodation h2 {
  text-align: center;
  margin: 40px 0;
}
.admin-accommodation .accommodation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.admin-accommodation .accommodation-container h3 {
  margin-bottom: 20px;
}
.admin-accommodation .accommodation-container .accommodation,
.admin-accommodation .accommodation-container .accommodation-input {
  width: 340px;
  padding: 0 5px;
  margin: 20px;
}
.admin-accommodation .accommodation-container .accommodation .accommodation-names {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.admin-accommodation .accommodation-container .accommodation .accommodation-names p {
  max-width: 200px;
}
.admin-accommodation .accommodation-container .accommodation-input p {
  margin-bottom: 10px;
}
.admin-accommodation .accommodation-container .accommodation-input div .timeline-i {
  width: 250px;
  margin-bottom: 10px;
  padding: 3px;
}
.admin-accommodation .accommodation-container .accommodation-input .send-button {
  margin-bottom: 15px;
}

.admin-page {
  margin: auto;
}
.admin-page h2 {
  margin: 40px 0;
  text-align: center;
}

.delete {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.delte-button-container {
  width: 90px;
}
.delte-button-container .delete {
  width: 90px;
  height: 30px;
  background: #5a5a5a;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}
.delte-button-container .delete span {
  transition: 200ms;
}
.delte-button-container .delete .text {
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin: auto;
}
.delte-button-container .delete .icon {
  width: 0;
  height: 20px;
  position: absolute;
  border-left: 1px solid #505050;
  transform: translateX(90px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.delte-button-container .delete svg {
  width: 15px;
  fill: white;
}
.delte-button-container .delete:hover {
  background: #505050;
}
.delte-button-container .delete:hover .text {
  color: transparent;
}
.delte-button-container .delete:hover .icon {
  width: 90px;
  border-left: none;
  transform: translateX(0);
}
.delte-button-container .delete:focus {
  outline: none;
}

.admin-guest-list h2 {
  text-align: center;
  margin: 40px 0;
}
.admin-guest-list .guest-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.admin-guest-list .guest-list-container h3 {
  margin-bottom: 20px;
}
.admin-guest-list .guest-list-container .guest-list,
.admin-guest-list .guest-list-container .guest-list-input {
  width: 340px;
  padding: 0 5px;
  margin: 20px;
}
.admin-guest-list .guest-list-container .guest-list .guest-list-names {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.admin-guest-list .guest-list-container .guest-list-input div #guest-input {
  margin: 15px 0 20px;
}
.admin-guest-list .guest-list-container .guest-list-input div span {
  margin-left: 5px;
}
.admin-guest-list .guest-list-container .guest-list-input .send-button {
  margin-bottom: 15px;
}

.profile h2 {
  text-align: center;
  margin: 40px 0;
}
.profile .profile-container {
  width: 350px;
  margin: auto;
}
.profile .profile-container .good-wish-container h3 {
  margin-bottom: 20px;
}
.profile .profile-container .good-wish-container .good-wish {
  margin-bottom: 20px;
}
.profile .profile-container .good-wish-container .good-wish .smaller-p {
  font-size: 13px;
}

.admin-timeline h2 {
  text-align: center;
  margin: 40px 0;
}
.admin-timeline .timeline-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.admin-timeline .timeline-container h3 {
  margin-bottom: 20px;
}
.admin-timeline .timeline-container .timeline,
.admin-timeline .timeline-container .timeline-input {
  width: 340px;
  padding: 0 5px;
  margin: 20px;
}
.admin-timeline .timeline-container .timeline .timeline-names {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.admin-timeline .timeline-container .timeline .timeline-names p {
  max-width: 200px;
}
.admin-timeline .timeline-container .timeline-input p {
  margin-bottom: 10px;
}
.admin-timeline .timeline-container .timeline-input div .timeline-i {
  width: 250px;
  margin-bottom: 10px;
  padding: 3px;
}
.admin-timeline .timeline-container .timeline-input .send-button {
  margin-bottom: 15px;
}

.admin-to-dos h2 {
  text-align: center;
  margin: 40px 0;
}
.admin-to-dos .to-do-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.admin-to-dos .to-do-container .to-do,
.admin-to-dos .to-do-container .to-do-input {
  width: 340px;
  padding: 0 5px;
  margin: 20px;
}
.admin-to-dos .to-do-container .to-do h3:first-child,
.admin-to-dos .to-do-container .to-do-input h3:first-child {
  margin-bottom: 20px;
}
.admin-to-dos .to-do-container .to-do .to-do-names {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.admin-to-dos .to-do-container .to-do .to-do-names p {
  max-width: 200px;
}
.admin-to-dos .to-do-container .to-do-input p {
  margin-bottom: 10px;
}
.admin-to-dos .to-do-container .to-do-input div .timeline-i {
  width: 250px;
  margin-bottom: 10px;
  padding: 3px;
}

body {
  background-color: #e1e1d6;
}
body h1,
body h2,
body h3,
body h4,
body .send-button {
  color: #067a6d;
  font-family: "Merriweather", serif;
  font-weight: 800;
}
body h2 {
  font-size: 60px;
}
@media (max-width: 780px) {
  body h2 {
    font-size: 40px;
  }
}
body h3 {
  font-size: 28px;
}
@media (max-width: 780px) {
  body h3 {
    font-size: 24px;
  }
}
body h4 {
  font-size: 24px;
}
@media (max-width: 1260px) {
  body h4 {
    font-size: 20px;
  }
}
body a,
body .link-button,
body p {
  color: #5a5a5a;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.left-side,
.right-side {
  width: 80px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: -1;
}
@media (max-width: 500px) {
  .left-side,
.right-side {
    display: none;
  }
}

.right-side {
  right: 0;
}

.header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }
}
.header a,
.header .link-button {
  margin: 0 5px;
}
.header a:link, .header a:visited, .header a:active,
.header .link-button:link,
.header .link-button:visited,
.header .link-button:active {
  color: #5a5a5a;
}
.header a:hover,
.header .link-button:hover {
  color: #067a6d;
}
.header .colored {
  color: #e5e918;
}
@media (max-width: 600px) {
  .header .colored {
    display: none;
  }
}
.header .colored:hover {
  color: #067a6d;
}
.header .play-icon {
  position: absolute;
}
.header #login {
  position: fixed;
  right: 80px;
}

.invitation {
  margin: 0 80px 20px;
}
@media (max-width: 500px) {
  .invitation {
    margin: 0 0 20px;
  }
}
.invitation .inv-main-container {
  width: 100%;
  position: relative;
}
.invitation .inv-main-container #background-img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.invitation .inv-main-container h2 {
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: underline;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 780px) {
  .invitation .inv-main-container h2 {
    font-size: 60px;
  }
}
@media (max-width: 580px) {
  .invitation .inv-main-container h2 {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .invitation .inv-main-container h2 {
    font-size: 20px;
  }
}
.invitation .inv-main-container h2 span {
  color: black;
}
.invitation .story {
  padding: 50px 200px 20px;
  text-align: justify;
}
@media (max-width: 1055px) {
  .invitation .story {
    padding: 25px 100px 0px;
  }
}
@media (max-width: 745px) {
  .invitation .story {
    padding: 20px 80px 0;
  }
}
@media (max-width: 600px) {
  .invitation .story {
    padding: 10px 50px;
  }
}
@media (max-width: 500px) {
  .invitation .story {
    padding: 10px 20px;
  }
}
.invitation .story h3 {
  font-size: 36px;
}
@media (max-width: 1260px) {
  .invitation .story h3 {
    font-size: 24px;
  }
}
.invitation .story p {
  margin-bottom: 10px;
  font-size: 24px;
}
@media (max-width: 1260px) {
  .invitation .story p {
    font-size: 18px;
  }
}
@media (max-width: 745px) {
  .invitation .story p {
    font-size: 16px;
  }
}
.invitation .story p:nth-child(2) {
  margin-top: 10px;
}
.invitation .story p span {
  color: #067a6d;
  font-weight: bold;
}
.invitation .img-galery-second {
  max-width: 1800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.invitation .img-galery-second img {
  max-height: 420px;
  margin: 20px 0 10px;
}
@media (max-width: 600px) {
  .invitation .img-galery-second img {
    margin: 0 0 20px;
  }
}

.timeline,
.accommodations {
  margin: 0 80px;
}

.send-button {
  margin: 0 30% 15px;
}
.send-button:hover {
  color: #505050;
}

/*# sourceMappingURL=style.css.map */
